<form>
    <div class="row">
        <div class="col-md-12">
            <p class="text-center">
                Loan Form Works!
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="mt-2">
                <label class="float-left text-uppercase">
                    Sales Price
                </label>
                <mat-form-field appearance="outline" class="float-right">
                    <input matInput [(ngModel)]="price" type="number" min="0.00" step="1" placeholder=""
                        name="salesPrice">
                    <span matPrefix>$&nbsp;</span>
                </mat-form-field>
                <br />
                <mat-slider class="input-slider" thumbLabel [displayWith]="formatThousands" [invert]="false"
                    [max]="1000000" [min]="0" [step]="1000" [tickInterval]="1000" [(ngModel)]="price" [vertical]="false"
                    name="salesPriceSlider">

                </mat-slider>
            </p>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="mt-2">
                <label class="float-left text-uppercase pricing-label">
                  State Sales Tax
                </label>
                <mat-form-field appearance="outline" class="float-right pricing-input">
                  <input matInput [(ngModel)]="taxRate" type="number" min="0" step=".0001" placeholder="" name="stateSalesTax">
                </mat-form-field>
                <mat-form-field appearance="standard" class="pricing-input">
                  <mat-label>
                    Total Tax
                  </mat-label>
                  <input matInput value="{{ salesTax | currency }}" name="salesTax" readonly>
                </mat-form-field>
                <mat-slider class="input-slider"
                            thumbLabel
                            [displayWith]="formatPercent"
                            [invert]="false"
                            [max]=".25"
                            [min]="0"
                            [step]=".0001"
                            [tickInterval]=".001"
                            [(ngModel)]="taxRate"
                            [vertical]="false"
                            name="taxRateSlider">
                </mat-slider>
              </p>
        </div>
    </div>
</form>
